# Cache, temp and personal files
admin*/

/.htaccess
*.log
.env
docker/ssl/apache-selfsigned.key
img/tmp

app/config/parameters.php
config/defines_custom.inc.php
var/cache
var/logs
var/sessions
var/modules
cache
